:root{
    --primary-color: #14B8A6;
    --secondary-color: #0F766E;
    --off-white: #F3F4F5;
    --dark-grey: rgb(29, 29, 29);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    color: var(--dark-grey);
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
.margin-need{
    margin: 2rem 0rem;
    padding: 1rem 1rem;
}
hr {
    margin: 1.5rem 0rem;
}
/* containers */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 750px;
    margin: auto;
}
.container-fluid {
    margin-left: 2rem;
}

/* links */
.link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.p-link {
    background: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    transition: all 0.4s ease;
}
.p-link:hover{
    background: var(--secondary-color) ;
}
.s-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* lists */
.list-non-bullet{
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0rem;
    margin: 0;
}

/* navigation */
.navigation {
    position: fixed;
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    /* margin: auto; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 10;
    background: var(--primary-color);
    color: whitesmoke;
    padding: 1rem;
    box-shadow: 0px 0px 6px var(--secondary-color) ;
   
    border-bottom-left-radius: 50px ;
    /* border-bottom-right-radius: 2rem ; */
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.2rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.54s ease;
}
.navigation .link-active {
    color: var(--dark-grey) !important;
    font-weight: bold;
    /* background-color: #f3f4f544; */
    /* background-color: var(--secondary-color); */
    border-bottom: 4px solid var(--dark-grey);
    /* border-radius: 10px; */
}
.navigation .link:hover{
    color: var(--dark-grey);
}
/* hero */
.hero{
    /* position: absolute; */
    position: relative;
    top: 80px;
    padding: 2rem;
    height: 420px;
}
.hero .hero-img{
   max-height: 200px; 
    max-width: 350px;
    display: block;
    margin: auto;
    /* margin-top: 2rem; */
}

.hero .hero-heading {
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
}
.desc{
    text-align: center;
    margin: 0;
    color: var(--dark-grey);
}
/* section */
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: var(--off-white);
    background-image: url(/images/tp-portfolio-ba.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    
}
.imgg{
    /* background-color: var(--off-white); */
    background-image: url(/images/tp-portfolio-ba.png);
    background-size: 60vw;
    border-radius: 20px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    
}
ul{
    list-style: none;
}
.paddingg{
    padding: 15px;

}

footer {
    /* border-top-left-radius: 50px; */
    box-shadow: 0px -1px 6px var(--secondary-color) ;
    border-top-right-radius: 50px;
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: whitesmoke;
}
footer .link {
    color: whitesmoke;
}
footer .footer-header{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}



/* utilities */
.flex-rowwise{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.black{
    color: rgb(29, 29, 29);
}
.green{
    color: var(--primary-color);
}
.italics{
    /* text-decoration: dashed; */
    /* text-transform: uppercase; */
    font-weight: bold;
    font-style: italic;
}
.link2{
    text-decoration: none;
}
p{
    margin: 0;
}
.linkNopad{
    padding: 0;
}